body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*
{
  box-sizing: border-box;
}

.layout
{
  display: flex;
  background-color: #3a3a3a;
}
.topbar
{
  background-color: #808080;
  height: 10vh;
  width: 100vw;
  border-bottom: 2px solid black;
}

.sidebar
{
  background-color: #808080 ;
  width: 10vw;
  height: 90vh;
  box-shadow: 4px 0px 0px 0px rgba(0, 0, 0, 0.2);
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  
}

ul
{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  
}

li
{
  margin: 0;
  list-style: none;
  padding: .7rem 0rem;
}

a
{
  text-decoration: none;
  color: white;
  font-weight: 900;
  text-shadow: 1px 1px 5px black;
}

a:hover
{
  color: skyblue;
}

.middlebox
{
  background-color: #3a3a3a;
  width: 90vw;
  height: 75vh;
  display: flex;
  justify-content: center;
}

.chatBox
{
  background-color: rgb(204 204 204);
  width: 30vw;
  height: 80%;
  /* border: 2px solid rgb(118, 50, 2); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.435);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;  

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

}

.chatBox_title
{
  color: wheat;
  text-align: center;
  background-color: #808080;
  text-shadow: 1px 1px 5px black;
  box-shadow: 1px 1px 10px black;
  margin: 0;
  padding: .7vh;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.bottomBar
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #808080;
  /* padding: 1rem; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 1);
}

.msgBox
{
  width: 70%;
  height: 5vh;  
  margin: 1rem 1%;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.47);
}

.msgBox_btn
{
  padding: .5rem;
  width: fit-content;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.47);
  background-color: wheat;
}

.chatContainer
{
  background-color: #ccc;
  width: 100%;
  margin-top: .1%;
  height: 77%;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-behavior:smooth;
}

.middleBox_outer
{
  position: relative;
  width: 100vw;
  height: auto;
}

.join_fourm
{
  width: 20vw;
  padding: 20px;
  
}

.userName
{
  color: wheat;
  text-shadow: 1px 1px 5px black;
  
}

.roomName
{
  color: skyblue;
  text-shadow: 1px 1px 5px black;
}

.activeUser
{
  color: rgb(0, 197, 219);
  text-shadow: 1px 1px 1px black;
  font-size: 1.1rem;
  font-weight: 900;
  margin-right: .5rem;
  text-transform: capitalize;
}

.otherUser
{
  color:rgb(0, 81, 255);
  text-shadow: 1px 1px 1px black;
  font-size: 1.1rem;
  font-weight: 900;
  margin-right: .5rem;
  text-transform: capitalize;
}

.admin
{
  color:rgb(255, 0, 0);
  text-shadow: 1px 1px 5px black;
  font-size: 1.1rem;
  font-weight: 900;
  margin-right: .5rem;
}

.bg_one
{
  background-color: rgb(252, 241, 220);
  width: 80%;
  border-radius: 20px;
  margin:.7rem 1%;
  padding: .5rem;
  font-size: 2.25vh;
  color: rgb(56, 56, 56);
  text-align: justify;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.424);
}

.bg_two
{
  background-color: rgb(199, 199, 199);
  width: 80%;
  border-radius: 20px;
  margin:.7rem 17%;
  padding: .5rem;
  font-size: 2.25vh;
  text-align: justify;
  color: rgb(56, 56, 56);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.424);
}

.bg_three
{
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  /* border-radius: 20px; */
  margin:.7rem 0%;
  padding: .5rem;
  font-size: 2.25vh;
  font-weight: 900;
  text-align: center;
  color: rgb(93, 93, 93);

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.141);
}

.input_box
{
  padding: .5rem;
}

.btn_toggle_connect_disconnect
{
  margin-top: .5rem;
  padding: .2rem 1rem;
}

.fourm_supporter
{
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.discconnet_menu
{
  margin: 2%;
}

.discconnect_menu
{
  width: 20%;
  text-align: center;
  color: rgb(0, 229, 255);
}
.admin_Refering
{
  color: blue;
}